html {
  font-family: "Sedgwick Ave Display", sans-serif;
  font-weight: 200;
  font-size: #{$BaseRemSize}px;
  line-height: 130%;
  color: $Black;
  cursor: none;
}

body {
  @include bs-font-size(32);
  line-height: 130%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding: 0;
  line-height: 120%;
  font-weight: 700;
}

h1 {
  @include bs-font-size(90);
  margin-bottom: $BS * 20;
}

h2 {
  @include bs-font-size(70);
  margin-bottom: $BS * 20;
}

h3 {
  @include bs-font-size(55);
}

h4 {
  @include bs-font-size(45);
}

h5,
h6 {
  @include bs-font-size(35);
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #587891;
  transition: transform 0.3s ease-out;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.96);
  }
}

img,
canvas {
  display: block;
}

.desktop_only {
  display: block;
}

.mobile_only {
  display: none;
}

@media #{BreakpointS} {
  .mobile_only {
    display: block;
  }

  .desktop_only {
    display: none;
  }
}
